.vs/Restaurante/v16/.suo
.cache
.pdb
.exe
.dll
Restaurante_PL/obj/Debug/Restaurante_PL.csproj.AssemblyReference.cache
Restaurante_PL/obj/Debug/Plantilla-Diseño 2.pdb
Restaurante_PL/obj/Debug/Plantilla-Diseño 2.exe
Restaurante_PL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Restaurante_PL/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Restaurante_PL/bin/Debug/Plantilla-Diseño 2.pdb
Restaurante_PL/bin/Debug/Plantilla-Diseño 2.exe
Restaurante_PL/bin/Debug/BLL.pdb
Restaurante_PL/bin/Debug/BLL.dll
DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BLL/obj/Debug/BLL.pdb
BLL/obj/Debug/BLL.dll
BLL/obj/Debug/BLL.csproj.AssemblyReference.cache
BLL/bin/Debug/BLL.pdb
BLL/bin/Debug/BLL.dll
.vs/Restaurante/v16/.suo
.vs/Restaurante/v16/.suo
